body {
    margin: 0px;
}

div.container {
    height: 100vh;
    width: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(16, auto);
}

.hover {
    background: black;
}